Repository getaltair/altair, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, auth-service, flutter, altair-core, altair-auth, altair-ui, altair-guidance, documentation, ci/cd, docker, tests, dependencies

.github/labeler.yml:

# Auto-label PRs based on files changed
# This file is used by the actions/labeler action in pr-validation.yml

'backend':
  - changed-files:
    - any-glob-to-any-file: 'services/**/*'

'auth-service':
  - changed-files:
    - any-glob-to-any-file: 'services/auth-service/**/*'

'flutter':
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**/*'
      - 'apps/**/*'

'altair-core':
  - changed-files:
    - any-glob-to-any-file: 'packages/altair-core/**/*'

'altair-auth':
  - changed-files:
    - any-glob-to-any-file: 'packages/altair-auth/**/*'

'altair-ui':
  - changed-files:
    - any-glob-to-any-file: 'packages/altair-ui/**/*'

'altair-guidance':
  - changed-files:
    - any-glob-to-any-file: 'apps/altair_guidance/**/*'

'documentation':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

'ci/cd':
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/**/*'

'docker':
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - 'docker-compose*.yml'
      - 'docker/**/*'

'tests':
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.dart'
      - '**/test_*.py'
      - '**/tests/**/*'
      - '**/test/**/*'

'dependencies':
  - changed-files:
    - any-glob-to-any-file:
      - '**/pubspec.yaml'
      - '**/pyproject.toml'
      - '**/requirements*.txt'
      - '**/package.json'
      - '**/yarn.lock'
      - '**/package-lock.json'

fix(ci): update Flutter version to latest stable for Dart 3.8.0+ support
  .github/workflows/ci.yml
Labels: ci/cd

fix(ci): install Python dev dependencies for linting and testing
  .github/workflows/ci.yml
Labels: ci/cd

fix(core): remove unnecessary sqflite import
  packages/altair-core/lib/database/database.dart
Labels: flutter, altair-core

fix(ci): use correct uv flag for dev dependencies
  .github/workflows/ci.yml
Labels: ci/cd

fix(auth-service): add tests and fix linting/formatting
  services/auth-service/app/api/auth.py
  services/auth-service/app/core/config.py
  services/auth-service/coverage.xml
  services/auth-service/pyproject.toml
  services/auth-service/tests/__init__.py
  services/auth-service/tests/conftest.py
  services/auth-service/tests/test_health.py
Labels: backend, auth-service, tests, dependencies

fix(auth-service): add quotes to cast type expressions for TC006
  services/auth-service/app/core/config.py
Labels: backend, auth-service

fix(ui): remove deprecated withOpacity and unnecessary imports
  packages/altair-ui/lib/widgets/altair_quick_capture.dart
  packages/altair-ui/lib/widgets/altair_text_field.dart
  packages/altair-ui/test/widgets/altair_quick_capture_test.dart
Labels: flutter, altair-ui, tests

fix(guidance): remove unused import from test
  apps/altair_guidance/test/app_test.dart
Labels: flutter, altair-guidance, tests

fix(ci): convert commitlint config to ESM and disable build jobs
  .github/commitlint.config.mjs
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): disable auto-labeling due to permissions issue
  .github/workflows/pr-validation.yml
Labels: ci/cd

fix(ci): add pull-requests write permission and re-enable labeler
  .github/workflows/pr-validation.yml
Labels: ci/cd
